@import url("https://font@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');s.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --blue: #007bc1;
  --darkblue: #004a75;
  --orange: #ff8000;
  --darkorange: #cc6600;
  --smokegrey: #e5e5e5;
  --pcolor: #444646;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
i {
  font-size: 20px;
  color: gray;
}
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(8, 42, 92, 0.75),
      rgba(2, 32, 31, 0.75)
    ),
    url(assets/images/hero.jpg);
}
.container {
  width: 90%;
  margin: 0 auto;
}
.brand img {
  width: 50px;
  padding-top: 20px;
}
.hero-content {
  width: 90%;
  position: absolute;
  top: 50%;
  color: white;
  text-align: center;
  transform: translateY(-50%);
}
.hero-content h1 {
  font-weight: 500;
  letter-spacing: 2px;
}
.hero-content h2 {
  margin-top: 5px;
  font-weight: 700;
}
.hero-content p {
  font-size: 17px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 50px;
}
.hero-content a {
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  transition: all 0.4s;
}
.hero-content a:hover {
  color: var(--darkblue);
  background-color: white;
}
.notification-panel {
  position: absolute;
  right: 0;
  left: 0;
  top: -105%;
  transition: 2s linear;
}
.notification-panel.active {
  background-color: var(--smokegrey);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.notification-panel.hidden {
  right: 0;
  left: 0;
  top: -105%;
  transition: 3s linear;
}
.notif-content {
  width: 60%;
  margin: 0 auto;
  padding: 22px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notif-text {
  width: 85%;
}
.notif-text > p {
  font-weight: 500;
  line-height: 22px;
  color: var(--pcolor);
}
.notif-text > p > a {
  color: blue;
}
.notif-button button {
  padding: 10px 20px;
  color: white;
  border: none;
  font-weight: bold;
  background-color: var(--blue);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s;
}
.notif-button button:hover {
  background-color: var(--darkblue);
}
.higlights {
  padding-bottom: 50px;
  background-color: var(--smokegrey);
}
.first-row {
  width: 45%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}
.first-row h1 {
  margin-bottom: 15px;
  color: var(--pcolor);
}
.first-row p {
  font-size: 17px;
  color: var(--pcolor);
}
.second-row {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.higlights-header {
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.higlights-item {
  width: 31%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid gray;
  transition: all 0.4s;
}
.higlights-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.higlights-item p {
  font-size: 17px;
  font-weight: 500;
  color: var(--pcolor);
}
.title > p {
  font-size: 22px;
  font-weight: 500;
  color: rgb(49, 47, 47);
}
.newsletter-panel {
  position: fixed;
  bottom: -105%;
}
.newsletter-panel.active {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 45%;
  background-color: var(--blue);
  opacity: 0.9;
  transition: 1s linear;
  z-index: 2;
}
.newsletter-panel.hidden {
  bottom: -105%;
  transition: 2s linear;
}
.news-close p {
  width: 15px;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.news-close p:hover {
  color: black;
}
.news-content {
  padding: 0 20px 20px 20px;
}
.news-title h3 {
  font-size: 25px;
  color: white;
}
.news-article p {
  margin-top: 7px;
  color: white;
  font-size: 16px;
  line-height: 25px;
}
.news-form {
  margin-top: 15px;
}
form {
  display: flex;
  justify-content: space-between;
}
form input {
  width: 80%;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding-left: 10px;
}
form input:focus {
  outline: none;
}
form button {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: var(--orange);
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}
form button:hover {
  background-color: var(--darkorange);
}
footer {
  position: relative;
  padding: 35px 0;
  color: white;
  text-align: center;
  background-color: rgb(2, 2, 53);
}

@media (max-width: 960px) {
  .brand {
    text-align: center;
  }
  .notif-content {
    width: 80%;
    padding: 22px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .notif-text {
    width: 100%;
  }
  .notif-button {
    margin-top: 10px;
  }
  .notif-button button {
    padding: 12px 22px;
    font-size: 18px;
  }
  .first-row {
    width: 70%;
  }
  .higlights-item {
    width: 45%;
  }
  .newsletter-panel.active {
    width: 65%;
  }
  .news-close p {
    text-align: end;
    margin-right: 13px;
    font-size: 30px;
    font-weight: normal;
  }
  form input {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .brand {
    text-align: center;
    margin-bottom: 20px;
  }
  .notif-content {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .notif-text {
    width: 100%;
  }
  .notif-button {
    margin-top: 5px;
  }
  .notif-button button {
    padding: 10px 20px;
    font-size: 18px;
  }
  .first-row {
    width: 100%;
  }
  .higlights-item {
    width: 100%;
  }
  .newsletter-panel.active {
    width: 100%;
  }
  .news-close p {
    font-size: 22px;
    text-align: end;
    margin-right: 13px;
  }
  .news-title h3 {
    font-size: 18px;
    color: white;
  }
  .news-article p {
    margin-top: 7px;
    color: white;
    font-size: 16px;
    line-height: 20px;
  }
  .news-form {
    margin-top: 10px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form input {
    width: 100%;
  }
  form button {
    margin-top: 10px;
    width: 100%;
  }
}
